.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: #00050a;
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: #a7d8de;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ede7f6;
  text-shadow: 0 0 8px #4e2780;
}
